#main-content {
    border: 2px solid #0f78da;
    border-radius: 10px;
    margin: 20px;
    padding: 20px;
}

.nav-button {
    padding: 10px;
    color: aliceblue;
    background-color: #0f78da;
    text-decoration: none;
    border-radius: 5px;
    margin: 5px;
}

.nav-button:hover {
    background-color: #0c5bb5;
}